.Toolbar {
    position:fixed;
    padding:0 20px ;
    width:100%;
    height:56px;
    top:0;
    left:0;
    background-color: #703B09;
    display:flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.Toolbar nav {
    height:100% ;
}

.Logo {
    height:80%;
}

@media (max-width:499px){
    .DesktopOnly {
        display:none ;
    }
}